body{
    text-align: center;
    align-items: center;
}
.container{
    align-items: center;
    position:relative;
}

button{
height:200px;
width: 200px;
border-radius: 50%;
margin: 100px 50px;
border:none;
cursor: pointer;
}

.greenbtn{
    background-color: green;

}

.redbtn{
    background-color: rgb(196, 31, 31);

}

.prompt{
    display: flex;
   justify-content: center;

}

.youtube{
   
    background-color: black;
    display: inline-block;
}

