body{
    text-align: center;
    align-items: center;
}
.container{
    align-items: center;
    position:relative;
}

.youtube{
   
    background-color: black;
    display: inline-block;
}
#quote-container {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    font-size: 20px;
  }

h1{
    margin-top: 50px;
    margin-bottom: 50px;
}

/* modal */
.modalLinks{
    text-align: left;
}
.resTitle{
    list-style: none;
    font-weight: 500;
}